/*==================================================================================*/
#receipt-from {
  margin: 0 auto;
}
.custom-input {
  width: 72.5%;
  margin-left: 15px;
}
.receipt-form {
  margin: 50px 50px 50px 50px;
  padding: 35px;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.receipt-form .form-class {
  padding-top: 15px;
  margin: 0;
}
.receipt-form .btn-create {
  float: right;
}
